<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cmucreatelab.smell-pgh.bay-area" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Air Watch Bay Area</name>
    <description>
        Air Watch Bay Area app allows users to make smell reports and submit photos.
    </description>
    <author email="airwatchbayarea@gmail.com" href="http://airwatchbayarea.org">
        Fair Tech Collective
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation" value="default" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="3000" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#00bdac" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <access origin="*" />
    <allow-navigation href="*://*.airwatchbayarea.org/*" />
    <allow-navigation href="*://*.airwatchbayarea.com/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <config-file overwrite="true" parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
        <string>For capturing images to send to the website</string>
    </config-file>
    <config-file overwrite="true" parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
        <string>For uploading submitted images to the website</string>
    </config-file>
    <platform name="ios">
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="res/icon/ios/icon-small-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-small-50@2x.png" width="100" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <icon density="ldpi" src="res/icon/android/drawable-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-splash-port-xxxhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-spinner" spec="~1.1.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Location data is associated with the location of your smell report and will only be used when the &quot;use my GPS location&quot; button is pressed. Furthermore, a random offset is added to your location for extra security." />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.1.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
