<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cmucreatelab.smell-pgh.bay-area" version="1.8.9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Air Watch Bay Area</name>
    <description>
        Air Watch Bay Area app allows users to make smell reports and submit photos.
    </description>
    <author email="airwatchbayarea@gmail.com" href="http://airwatchbayarea.org">
        Fair Tech Collective
    </author>
    <content src="index.html" />
    <preference name="orientation" value="default" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="3000" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#00bdac" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-spinner" spec="~1.1.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Location data is associated with the location of your smell report and will only be used when the &quot;use my GPS location&quot; button is pressed. Furthermore, a random offset is added to your location for extra security." />
    </plugin>
    <access origin="*" />
    <allow-navigation href="*://*.airwatchbayarea.org/*" />
    <allow-navigation href="*://*.airwatchbayarea.com/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <gap:config-file mode="replace" overwrite="true" parent="NSPhotoLibraryUsageDescription" platform="ios">
        <string>For uploading submitted images to the website</string>
    </gap:config-file>
    <config-file mode="replace" overwrite="true" parent="NSPhotoLibraryUsageDescription" platform="ios">
        <string>For uploading submitted images to the website</string>
    </config-file>
    <engine name="android" spec="~6.1.2" />
    <engine name="ios" spec="~4.3.1" />
    <platform name="ios">
        <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icons/ios/icon-small-2x.png" width="58" />
        <icon height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icons/ios/icon-40-2x.png" width="80" />
        <icon height="50" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icons/ios/icon-50-2x.png" width="100" />
        <icon height="57" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" src="res/icons/ios/icon-2x.png" width="114" />
        <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icons/ios/icon-60-2x.png" width="120" />
        <icon height="180" src="res/icons/ios/icon-60-3x.png" width="180" />
        <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icons/ios/icon-72-2x.png" width="144" />
        <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icons/ios/icon-76-2x.png" width="152" />
        <splash height="480" src="res/screens/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1334" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" />
        <splash height="2208" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" />
        <splash height="1024" src="res/screens/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" />
    </platform>
    <platform name="android">
        <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
        <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
    </platform>
</widget>
